@model projectWebKassa.DAL.personeel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>personeel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tussenvoegsel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.filiaalCode.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filiaalCode.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Functie.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Functie.Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersoneelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
