@model IEnumerable<projectWebKassa.DAL.personeel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
           Filiaal
        </th>
        <th>
           Functie
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tussenvoegsel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.filiaalCode.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Functie.Naam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersoneelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersoneelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersoneelId })
        </td>
    </tr>
}
</table>