@model IEnumerable<projectWebKassa.Models.PrijsViewModels>
@{
    ViewBag.Title = "PrijsIndex";
}

<h2>PrijsIndex</h2>


<h4> Verkoop Prijs</h4>
<p>@Html.DropDownList("PrijsLijst")</p>
<p>@Html.ActionLink("Create New", "Create")</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BTW)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BTW)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.verkoopPrijsID})
                @Html.ActionLink("Delete", "Delete", new object{ id = item.verkoopPrijsID})
            </td>
        </tr>
    }
    </table>

